*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

/* header */


.header{
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
}
.logo{
    height: 80px;
    border-radius: 50%;
}
.nav-item{
    margin: 35px;
    margin-right: 10px;

}
.nav-item ul{    
    display: flex;

}
.nav-item li{
    list-style: none;
    font-size: 18px;
    margin-right: 15px;
}
.link{
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    color: azure;
}

.search {
    margin-top: 35px;

}
.search input{    
    border-radius: 5px;
    height: 35px;
    width: 400px;
    margin-right: 5px;
    padding: 10px;
}
.search-btn{
    border-radius: 5px;
    padding: 8px;
    width: 40px;
    cursor: pointer;

}

/* restCard */

.top-resto{
    margin: 15px 0px 0px 20px;
    font-size: 24px;
}
.main-container{
    margin: 20px 50px 20px 50px;
}
.rest-container{
    display: flex;
    flex-wrap: wrap;
}
.rest-cards{
    margin: 15px 5px 0px 20px;    
    height: 340px;
    width: 200px;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.rest-cards:hover{
    border: 1px solid black;
}

.rest-img{
    padding: 1px;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;

}
.card-descr{
    padding: 3px 0px 0px 5px;
    cursor: pointer;
}
.cardLink{
    text-decoration: none;
    margin-right: 15px;
    color: rgb(0, 0, 0);
}
.filter{
    margin: 15px 5px 0px 20px;  
    padding: 3px 0px 0px 5px;
}
.filter-btn{
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    background-color: rgb(247, 191, 69);
    border: none;
    color: rgb(255, 255, 255);
}

/* Shimmer */

.loading{
    display: flex;
    font-size: large;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{    
    margin: 15px 5px 0px 20px;    
    height: 320px;
    width: 200px;
    border-radius: 7px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shimmerHeading{
    margin-top: 85%;
    margin-left: 15px;
    background-color: #d0cccc;
    width: 130px;
    height: 30px;
}
.shimmerH3{
    margin-top: 20px;
    margin-left: 15px;
    background-color: #d0cccc;
    width: 90px;
    height: 30px;

}


/* AboutUs  */


.about{
    margin: 20px;
    display: flex;
}
.about-section{
    margin: 10px;
    padding: 80px;
}
.about-heading{
    font-size: 50px;
}
.about-para{
    margin-top: 10px;
}
.title{
    color: orange;
    font-weight:800;
}

.booktable{
    background-color: rgb(228, 150, 5);
    color: azure;
    border-radius: 5px;
    border: 1px rgb(209, 137, 4) solid;
    cursor: pointer;
    padding: 5px;
    margin-top: 15px;
    font-size: 25px;
}

.about-img{
    margin-left: 0px;
    margin-right: 50px;
}


/* contact */

.contact{
    display: flex;
}


/* restaurentsMenu */
.resto-menu{
    display: flex;
    margin: 20px 5px 0px 400px;   
    height: 250px;
    width: 50%;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.resto-menu-cards{
    padding: 10px 0px 0px 10px; 

}

.menuImg{
    margin: 15px 5px 0px 20px; 
    padding: 1px;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;    

}

.menuSpan{
    margin-left: 5px;
}
.menuSpandot{
    margin: 0 0 8px 5px;
    font-size: large;
}

.rating{
    margin-top: 2px;
    font-weight: 900;
}

.ratingStar{
    color: orange;
}

.cuisines{
    margin: 10 0 8px 5px;
    color: green;
}
.deliveryTime{
    margin: 10 0 8px 5px;

}

/* simmerRestoMenu */

.shimmerMenucontainer{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

}
.shimmerestoMenu-card{
    background-color: #f0f0f0;;
    display: flex;
    margin: 20px 5px 0px 400px;   
    height: 250px;
    width: 50%;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.shimmerIMG{
    margin: 10px 5px 0px 20px; 
    padding: 1px;
    height: 200px;
    width: 200px;
    background-color: #d0cccc;

}
.shimmerMenuHeading{    
    margin-top: 10px;
    margin-left: 15px;
    background-color: #d0cccc;
    width: 400px;
    height: 30px;

}
.shimmerMenuH3{
    margin-top: 20px;
    margin-left: 15px;
    background-color: #d0cccc;
    width: 200px;
    height: 30px;

}
.shimmerMenupara{
    margin-top: 20px;
    margin-left: 15px;
    background-color: #d0cccc;
    width: 100px;
    height: 30px;

}


/* FlatPrice */

.FlatPriceContainer{
    margin: 20px 5px 5px 450px;   
    height: 250px;
    width: 45%;
    border-radius: 7px;

}
.FlatPriceHeading{
    font-size: large;
    margin: 5px 0px 30px 0px;

}


.FlatPriceCard{
    display: flex;
}
.FlatPriceImgContainer{
    margin: 5px 0px 10px 200px;
    
}
.FlatPriceCard p{
   width: 300px;
}
.FlatPriceImg{
    height: 150px;
    width: 190px;
    border-radius: 5px;    
}
.add-btn{
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 8px;
    background-color: orange;
    width: 100px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}

/* FlatPriceShimmer */
.FltPriceContainer{
    display: flex;
    margin: 20px 5px 0px 450px;   
    height: 200px;
    width: 40%;
    border-radius: 7px;
    background-color: #f0f0f0;
    box-sizing: border-box;

}

.flatCard h3{
    margin: 20px 10px 0px 20px;
    background-color: #d0cccc;
    width: 300px;
    height: 30px;

}
.flatCard h5{ 
    margin: 20px 10px 0px 20px;
    background-color: #d0cccc;
    width: 200px;
    height: 30px;

}
.flatCard p{
    margin: 20px 10px 0px 20px;
    background-color: #d0cccc;
    width: 100px;
    height: 30px;

}

.shimmerFlatPriceIMG{
    margin: 20px 10px 10px 100px;
    height: 100px;
    width: 100px;
    background-color: #d0cccc;
    border-radius: 5px;

}
.FlatPriceBtn{
    margin: 5px 0px 10px 100px;
    background-color: #d0cccc;
    width: 100px;  
    height: 40px; 
    border-radius: 5px;
    border: none;
}